:root {
	--guest-user-img: url(_content/Cirreum.Runtime.Client/assets/images/guest-user-icon.svg);
}

.user-profile-guest-icon {
	content: var(--guest-user-img);
}

.user-profile {
	color: var(--bs-text-emphasis);
	min-width: 325px;
	background-color: #efefef;
	border-radius: 6px 6px 0 0;
	margin: var(--bs-dropdown-padding-y) calc(-1 * var(--bs-dropdown-padding-x));

	.name {
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 210px;
		font-size: 18px;
		font-weight: 700;
	}

	.company,
	.email {
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 220px;
	}

	.pic {
		display: block;
		border-radius: 50%;
		overflow: hidden;
		width: 58px;
		height: 58px;

		margin: {
			left: 2px;
			right: 4px;
			top: 4px;
			bottom: 4px;
		}
	}

	.presence {
		font-size: 0.75rem;
		line-height: 1.5rem;
		user-select: none;
	}

	.profile-pic {
		position: relative;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		overflow: hidden;

		background: {
			size: cover;
			position: center center;
			repeat: no-repeat;
		}
	}
}

[data-bs-theme=dark] .user-profile {
	background-color: #222;
	box-shadow: inset -1px 0px 2px 1px rgba(51, 51, 51, 0.5333333333), inset 1px 0px 2px 1px rgba(51, 51, 51, 0.5333333333);
}
