@inherits LayoutComponentBase

<Header />
<div class="main-container">
	<NavMenu />
	<main class="app-main">
		<ErrorBoundary>
			<ChildContent>
				@Body
				<SplashScreen />
			</ChildContent>
			<ErrorContent Context="exception">
				<RedirectToError Exception="@exception" />
			</ErrorContent>
		</ErrorBoundary>
	</main>
</div>
<Footer />